build
vendor
tests/TestSupport/temp
tests/temp
composer.lock
.env
.phpunit.cache/
.phpunit.result.cache
.phpunit.cache/test-results
.php-cs-fixer.cache
tests/Support/temp/
.idea/
AGENTS.md
/.phpunit.cache
/.php-cs-fixer.cache
/.php-cs-fixer.php
/composer.lock
/vendor/
*.swp
*.swo
playground/*
.idea
